// Mixins

// Animations

/* Animation Keyframes*/

@mixin keyframes($name) {
	@keyframes #{$name} {
		@content
	}

	@-moz-keyframes #{$name} {
		@content
	}

	@-webkit-keyframes #{$name} {
		@content
	}

	@-o-keyframes #{$name} {
		@content
	}
}

@mixin animation($variables) {
	animation: 			$variables;
	-moz-animation: 	$variables;
	-webkit-animation: 	$variables;
	-o-animation: 		$variables;
}

@include keyframes(scroll) {
	0% {
		margin-top: 0;
	}
	3% {
		margin-top: 0;
	}
	50% {
		margin-top: -2500px;
	}
	53% {
		margin-top: -2500px;
	}
	100% {
		margin-top: 0;
	}
}

@keyframes fade-first-child {
	0% {
		opacity: 1;
	}
	20% {
		opacity: 0.8;
	}
	40% {
		opacity: 0.6;
	}
	60% {
		opacity: 0.4;
	}
	80% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-second-child {
	0% {
		opacity: 0.8;
	}
	20% {
		opacity: 0.6;
	}
	40% {
		opacity: 0.4;
	}
	60% {
		opacity: 0.2;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0.8;
	}
}

@keyframes fade-third-child {
	0% {
		opacity: 0.6;
	}
	20% {
		opacity: 0.4;
	}
	40% {
		opacity: 0.2;
	}
	60% {
		opacity: 1;
	}
	80% {
		opacity: 0.8;
	}
	100% {
		opacity: 0.6;
	}
}

@keyframes fade-fourth-child {
	0% {
		opacity: 0.4;
	}
	20% {
		opacity: 0.2;
	}
	40% {
		opacity: 1;
	}
	60% {
		opacity: 0.8;
	}
	80% {
		opacity: 0.6;
	}
	100% {
		opacity: 0.4;
	}
}

@keyframes fade-fifth-child {
	
	0% {
		opacity: 0.2;
	}
	20% {
		opacity: 1;
	}
	40% {
		opacity: 0.8;
	}
	60% {
		opacity: 0.6;
	}
	80% {
		opacity: 0.4;
	}
	100% {
		opacity: 0.2;
	}
}





// Fireworks

$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
               random($width)-$width / 2 + px
               random($height)-$height / 1.2 + px
               hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

#fireworks.on > .before, #fireworks.on > .after {
  position: absolute;
  z-index: 1000000000000;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}
    
#fireworks.on > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}
        
@include keyframes(bang) {
  to {
    box-shadow:$box-shadow;
  }
}
    
@include keyframes(gravity)  {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}
    
@include keyframes(position) {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {  
    margin-top: 20%;
    margin-left: 70%
  }
  60%, 79.9% {  
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {  
    margin-top: 30%;
    margin-left: 80%;
  }
}

