{% if page.layout == "home" %}

<header id="scoreboard">

    <div class="container">

        <div class="logo-container">
        <div class="logo">
            <div class="logo--scorebar"></div>
            <div class="logo--scorebar"></div>
            <div class="logo--scorebar"></div>
            <div class="logo--scorebar"></div>
            <div class="logo--scorebar"></div>
        </div>
        </div>

        <h1>
            {{ site.title }} 
        </h1>

    </div>

</header>

{% endif %}