@font-face {
	font-family: 'JP';
	
	font-weight: normal;
	font-style: normal;
	
	src: 	url('https://johnpe.art/assets/fonts/JPFont-Regular.eot');
	src: 	url('https://johnpe.art/assets/fonts/JPFont-Regular.eot?#iefix') format('embedded-opentype'),
			url('https://johnpe.art/assets/fonts/JPFont-Regular.woff2') format('woff2'),
			url('https://johnpe.art/assets/fonts/JPFont-Regular.woff') format('woff'),
			url('https://johnpe.art/assets/fonts/JPFont-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'JP';
	
	font-weight: normal;
	font-style: italic;
	
	src: 	url('https://johnpe.art/assets/fonts/JPFont-Italic.eot');
	src: 	url('https://johnpe.art/assets/fonts/JPFont-Italic.eot?#iefix') format('embedded-opentype'),
			url('https://johnpe.art/assets/fonts/JPFont-Italic.woff2') format('woff2'),
			url('https://johnpe.art/assets/fonts/JPFont-Italic.woff') format('woff'),
			url('https://johnpe.art/assets/fonts/JPFont-Italic.ttf') format('truetype');
}
 
@font-face {
	font-family: 'JP';
	
	font-weight: bold;
	font-style: normal;
	
	src: 	url('https://johnpe.art/assets/fonts/JPFont-Bold.eot');
	src: 	url('https://johnpe.art/assets/fonts/JPFont-Bold.eot?#iefix') format('embedded-opentype'),
			url('https://johnpe.art/assets/fonts/JPFont-Bold.woff2') format('woff2'),
			url('https://johnpe.art/assets/fonts/JPFont-Bold.woff') format('woff'),
			url('https://johnpe.art/assets/fonts/JPFont-Bold.ttf') format('truetype');
}
 
@font-face {
	font-family: 'JP';
	
	font-weight: bold;
	font-style: italic;
	
	src: 	url('https://johnpe.art/assets/fonts/JPFont-BoldItalic.eot');
	src: 	url('https://johnpe.art/assets/fonts/JPFont-BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('https://johnpe.art/assets/fonts/JPFont-BoldItalic.woff2') format('woff2'),
			url('https://johnpe.art/assets/fonts/JPFont-BoldItalic.woff') format('woff'),
			url('https://johnpe.art/assets/fonts/JPFont-BoldItalic.ttf') format('truetype');
}