---
layout: default
---

<section id="video-player">

	<div id="video-embed" class="embed-responsive embed-responsive-16by9">
		<iframe src="https://www.youtube-nocookie.com/embed/Eztx7Wr8PtE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<aside id="control-center">

		<div id="control-center--metadata">
			<p>Loading metadata...</p>
		</div>

		<div id="control-center--messages">
			<p>Loading messages...</p>
		</div>

	</aside>

</section>

<section id="scores">
		
	<p>Loading scores...</p>
	
</section>