---
layout: default
---
			
<main id="content" class="container">

	<section id="navigation">

			<div id="preamble">

				<h2>Bonjour and Welcome!</h2>

				<p><strong>Not the Song Contest</strong> is a digital house party.</p>

				<p>On 18 April 2020 <a href="/app/with-video/" title="View the scoreboard with the video stream">go to the stream</a> and at <strong>exactly 8:00PM (British Summer Time)</strong> hit "play". Then enjoy each of this year's fallen Song Contest entries in their unfiltered glory.</p>

				<p>Each video is taken from the official feed and is unedited. They're preceded by a 30 second postcard from me; unfortunately I couldn't afford to bring in Graham Norton himself.</p>

				<p>Open this site on a laptop and plug it into your TV for the best experience.</p>

				<p><strong>On a second device</strong>, open the <a href="{{ site.votelink }}" title="Go to the voting page">voting page</a>. After each video is finished, the country will be added to the voting page. Score each entry from 0 to 12 points, just like the Song Contest.</p>

				<p>If you lose your connection or get interrupted by an advert, don't worry. You can choose which video to play by clicking the button in the top right corner of the video. The song everyone else is currently watching will show up in the bottom left of your screen.</p>

				<p><strong>Don't refresh your page.</strong> Everything should keep itself up to date automatically.</p>
	
			</div>

			<div id="links">

				<div class="link vote">
					<a href="{{ site.votelink }}" title="Go to the voting page">Vote</a>
				</div>
				<div class="link with-video">
					<a href="/app/with-video/" title="View the scoreboard with the video stream">Watch the stream</a>
				</div>
				<div class="link without-video">
					<a href="/app/no-video/" title="View the scoreboard without the video stream">Look at the scoreboard</a>
				</div>

			</div>

	</section>

</main>