---
layout: default
---
			
<main id="content">

	<section id="navigation" class="container">

			<div id="links">

				<div class="link vote">
					<a href="{{ site.votelink }}" title="Go to the voting page">Vote</a>
				</div>
				<div class="link with-video">
					<a href="/app/with-video/" title="View the scoreboard with the video stream">Watch the stream</a>
				</div>
				<div class="link without-video">
					<a href="/app/no-video/" title="View the scoreboard without the video stream">Look at the scoreboard</a>
				</div>

			</div>

	</section>

</main>